* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  height: 120%;
}
.container{
  background-color: #none;
  min-height: 100%;
  position:relative;
}

.blueTop {
  background-color: #16304B;
  width: 100%;
  height: 45px;
  position: absolute;
}
.logoPush{
  margin-top: 5px;
  width: 200px;
  height: 35px;
}
.space{
  height: 15px;
}
.panel-iBtns > .panel-heading {
  background-color: #E5F7FB;
  height: 30px;
  border-radius: none;
}
.mainBtns {
  background-color: transparent;
  height: 185px;
  width: 220px;
}
.panel-group{
  background-color: none;
  margin-top: 10%;
  border-color: #E5F7FB;
}
.panel-body {
  background-color: #E5F7FB;
}

.panel{
  background-color: transparent !important;
}
#eduLog{
  margin-top: 47%;
  margin-left: -3%;
  width: 106%;
  display:none;
}
#guestLog{
  margin-top: 47%;
  margin-left: -3%;
  width: 106%;
  display:none;
}
#accordion{
  margin-top: 15%;
  margin-bottom: 7%;
}
#bBcg{
  margin-left: 26.5%;
  background-color: #E5F7FB;
  height: 220px;
  width: 47.2%;
}
#myAccordion{
  margin-left: -8%;
  margin-top: 3%;
  margin-bottom: 2%;
}
#eduSection{
  margin-left: 50%;
}
.guestPic{
  margin-top: 6%;
  margin-left: -24.5%;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 3px;
  border-radius: 15px;
}

.innlBtns{
  height: 400px;
}
#pInfo{
  position: relative;
  top:-8px;
  left: 30px;
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 25px;
}
.whiteYo{
  margin-top: 13%;
  background-color: #000000;
  height: 400px;
}
#topInfos{
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 20px;
  margin-left: 5%;
}
#eduInfo{
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 15px;
  margin-top: -1%;
  margin-left: 5%;
  color: #16B6D8;
}
#dlEduBtn{
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 15px;
}

.manuDl{
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 3px;
  border-radius: 5px;
  margin-left: 5%;
  height: -2%;
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 15px;
  -webkit-box-shadow: 0 8px 10px -7px #9e9a9a;
	   -moz-box-shadow: 0 8px 10px -7px #9e9a9a;
	        box-shadow: 0 8px 10px -7px #9e9a9a;
}

.operBtns{
  background-color: transparent;
  margin-top: 30px;
  margin-left: 15px;
  height: 100px;
  width: 130px;
}
.manuOperPics{
  margin-top: -10%;
  margin-left: -13%;
  width: 110%;
  height: 110%;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 2px;
  border-radius: 10px;
}
.topMargin{
  margin-top: -0.5%;
  margin-bottom: -0%;
}
#eduDlLog{
  margin-top: 47%;
  margin-left: 4.5%;
  width: 106%;
  margin-left: -3%;
  display:none;
}
#winOperLog{
  margin-top: 4%;
  margin-left: -3%;
  width: 106%;
  display: none;
}

#macOperLog{
  margin-top: 4%;
  margin-left: -3%;
  width: 106%;
  display: none;
}

#lnxOperLog{
  margin-top: 4%;
  margin-left: -3%;
  width: 106%;
  display: none;
}
.winVersionBtn{
  margin-top: 30px;
  margin-left: -70%;
  width: 105px;
  height: 20%;
}
.winVerPics{
  margin-top: -10%;
  margin-left: -13%;
  width: 110%;
  height: 110%;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 1px;
  border-radius: 10px;
}
#eduInfo{
  cursor: pointer;
}
#win10Log{
  display:none;
}
#win8Log{
  display:none;

}
#win7Log{
  display:none;

}
#winVistaLog{
  display:none;

}
.winVerObj{
  margin-top: 4%;
  margin-left: -3%;
  width: 106%;
  margin-bottom: 30%;
}
.displayPic{
  margin-top:-2%;
  margin-right:2%;
  float: left;
  width: 30%;
  height: 30%;
  border-radius: 10px;
}
#dlTopInfos{
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 20px;
  margin-left: 5%;
  margin-top: -1%;
}
#dlTxt{
  font-weight: none;
  font-family: verdana;
  font-size: 15px;
  margin-left: -5%;
}
#dlChoice{
  margin-left: -0.1%;
}
#eMail{
  margin-left: 5%;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 1px;
  border-radius: 10px;
}
#guestCon{
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 1px;
  border-radius: 5px;
  height: 23px;
  margin-left: 1%;
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 15px;
}
::placeholder {
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 15px;
  opacity: 0.40;
}
#gcontxt{
  font-weight: none;
  font-family: verdana;
  font-size: 15px;
  margin-left: 5%;
}
#wieITxt{
  font-weight: none;
  font-family: verdana;
  font-size: 15px;
  margin-left: 7%;
}
#username{
  color: #F60D0D;
  font-size: 20px;
}
