.container{
  background-color: #none;
  height: 100%;
}

.blueTop {
  background-color: #16304B;
  width: 100%;
  height: 5%;
  position: absolute;
}
.ntnuTopLogo {
  background-color: #ff5533;
  width: 33%;
  height: 90%;
  position: absolute;
  top: 4%;
  left: 0px;
}
.panel-iBtns > .panel-heading {
  background-color: #E5F7FB;
  height: 30px;
  border-radius: none;
}
.panel-mainBtns > .panel-heading {
  background-color: #E5F7FB;
  height: 282.7px;
  width: 340px;
}
.panel-group{
  background-color: none;
  margin-top: 10%;
  border-color: #E5F7FB;
}
.panel-body {
  background-color: #E5F7FB;
}
#accordion{
  margin-bottom: 7%;
}
#bBcg{
  margin-left: 9.7%;
  background-color: #E5F7FB;
  height: 341px;
  width: 80.5%
}
#accordionTwo{
  margin-left: -2%;
  margin-top: 3%;
  margin-bottom: 2%;
}
#eduSection{
  margin-left: 8.5%;
}
.guestPic{
  margin-top: -3.5%;
  margin-left: -5%;
  width: 110%;
  height: 110%;
  border-style: solid;
  border-color: #CDCED2;
  border-width: 4px;
  border-radius: 15px;
}

.innlBtns{
  height: 400px;
}
#pInfo{
  position: relative;
  top:-8px;
  left: 30px;
  font-weight: bold;
  font-family: Sitka Display;
  font-size: 25px;
}
